.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgba(15,72,83,1);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 3rem;
  color: white;
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: azure;
  padding: 10px 0px;
  border-radius: 20px;
  margin: 20px auto;
}

.user-login {
  margin-left: 10px;
  font-size: 3rem;
  color: black;
}

.user-data {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.user-info { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5px;
}

.user-info p {
  margin-right: 20px;
  padding: 0;
}

.user-follow-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 5px;
}

.pfp img{
  width: 100%;
}

form {
  margin: 10px auto;
}