html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgba(15,72,83,1);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: azure;
  padding: 10px 0px;
  border-radius: 20px;
  margin: 20px auto;
}

.user-login {
  margin-left: 10px;
  font-size: 3rem;
  color: black;
}

.user-data {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.user-info { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 5px;
}

.user-info p {
  margin-right: 20px;
  padding: 0;
}

.user-follow-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 5px;
}

.pfp img{
  width: 100%;
}

form {
  margin: 10px auto;
  text-align: center;
}

.follower-card {
  display: flex;
  width: 600px;
  background-color: azure;
  border-radius: 20px;
  margin: 20px auto;
}

.follower-card:hover {
  cursor: pointer;
}

.follower-card img {
  width: 20%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.follower-username {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}